apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: genieacs-data
  namespace: genieacs
  labels:
    app.kubernetes.io/name: genieacs
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: genieacs-logs
  namespace: genieacs
  labels:
    app.kubernetes.io/name: genieacs
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: genieacs-ext
  namespace: genieacs
  labels:
    app.kubernetes.io/name: genieacs
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: standard